@model BlogApp.Models.BlogPostPaginationView


@{
    ViewBag.Title = "Posts";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model.Posts)
{

    <div class="container">
        <div class="row">
            <div style="text-indent: 100px;">
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(modelItem => item.Body)
            </div>
            <div class="col-md-4">
                <image src="@Url.Content(item.Image)" alt="" height="200" width="300" />
            </div>
            <div class="col-md-offset-6">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })

            </div>
        </div>
    </div>
    <p></p>
}

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>
